@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Syne+Mono&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background-color: #7CB9E8;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1.2rem;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Syne Mono', sans-serif;
    margin: 0;
    padding: 0;
}

/* General Rules */

.center {
    text-align: center;
}

.spacing-top {
    margin-top: 1.875rem;
}

p {
    font-family: 'Manrope', sans-serif;
}

.border {
    border: 5px solid #000000;
    border-radius: 0.625rem;
}

/* Header */

#title img {
    max-width: 100%;
}

/* Quiz area flexbox */

.container {
    margin: 0 auto;
    background-color: #feffc3;
    height: 70vh;
    width: 70vw;
    border: 5px solid #000000;
    border-radius: 1.562rem;

    display: flex;
    flex-direction: column;
}

/* Quiz content styling */

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 100%;
}

/* Instructions Styling */

.instructions-content {
    background-color: #ffffff;
    width: 60%;
    margin: 0 auto;
    padding: 1.875rem;
}

/* Game Page Styling */

#question-number {
    width: 30%;
    margin: 0 auto;
    background-color: #ffffff;
}

#question {
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: 1.25rem;
    background-color: #ffffff;
    border: 5px solid #000000;
    border-radius: 0.625rem;
}

.quiz-options-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.answers {

    margin: 5%;
    padding: 0.625rem;
    text-align: left;

    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    color: #000000;
    background-color: #b074ca;
}

.answers:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #7CB9E8;
}

/* Answer Counter styling */

#answer-counters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.25px;
}

.counter {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 0.625rem;
}

.counter-circle {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.625rem;
}

.correct-circle {
    background-color: #008000;
}

.incorrect-circle {
    background-color: #ff0000;
}

.counter-circle span {
    color: #ffffff;
    font-weight: bold;
}

/* Results Page Styling */

.results-content {
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    padding: 0.625rem;
}

#results-img img {
    width: 30%;
}

/* Button Styling */

.btn {
    margin-top: 0.625rem;
    padding: 0.625rem;
    min-width: 20%;
    background-color: #ffffff;
    border: #000000 solid 5px;
    border-radius: 0.625rem;
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;

}

.btn:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #7CB9E8;
}

/* 404 page styling */

#error-page-image {
    width: 30%;
}

.error-page-content {
    text-align: center;
}

.error-page-content h2 {
    background-color: #ffffff;
    width: 60%;
    margin: 0 auto;
    padding: 1.875rem;
}

/* Media Queries */

/* for screen sizes 900px and below */
@media screen and (max-width: 900px) {

    #results-img img {
        width: 60%;
    }
}

/* For screen sizes 750px and below */
@media screen and (max-width: 750px) {

    .instructions-content {
        width: 90%;

    }

    .results-content {
        margin: 0.625rem;
    }

    .answers:hover {
        transform: none;
        background-color: #b074ca;
    }

    .btn:hover {
        transform: none;
        background-color: #ffffff;
    }
}

/* For screen sizes 600px and below */
@media screen and (max-width: 600px) {
    body {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
    }

    #question-number {
        width: 60%;
    }
}

/* for screen sizes 500px and below */

@media screen and (max-width: 500px) {

    .container {
        height: 80vh;
        width: 80vw;
    }

    .quiz-options-grid {
        grid-template-columns: 1fr;
    }
}

/* for screen sizes 400px and below */

@media screen and (max-width: 400px) {
    .container {
        height: 85vh;
        width: 90vw;
    }

    .counter {
        display: block;
    }

    .counter-circle {
        margin: 0 auto;
    }

    .answers {
        margin: 2%;
    }
}

/* Hide Rule */

.hide {
    display: none;
}